body {

    background: #d1d9db;


}

#chart {
    border: solid;
    background: #FFFFFF;
    border-width: 1px;
    box-shadow: 0px 0px 20px 2px #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.tooltip {
    border: none;
    border-radius: 10px;
    padding: 3px;
    background: #587e88;
    color: #FFFFFF;
    position: absolute;

}

.no_show {
    display: none;
}

.bar {
    /*fill: #587e88;*/
    fill: #2b2e3b;
    shape-rendering: crispEdges;
}

.bar-label {
    fill: white;
    font-size: 24px;
    text-anchor: end;
}

.yAxis {
    font-size: 15px;
}

.xAxis {
    font-size: 15px;
}

.active_bar {
    fill: #587e88;
}