body {
    border: solid;
}

#chart {
    border: solid;
    border-width: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bar {

}

.bar-label {
    fill: white;
    font-size: 24px;
    text-anchor: end;
}